{% extends "layouts/layout1.html" %}
{% block title %}
New stay for...
{% endblock %}
{% block content %}

      <form method="post" action="{{ url_for('.create_stay', guest_id = guest.id) }}">
        <p>
              <label>Liczba osób: </label>
              <input id="max_people" name="max_people" type="integer"/>
        </p>

        <p>
              <label>Wybierz pokój: </label>
              <input id="color" name="color" type="text"/>
        </p>

          <p>
              <label>Od: </label>
              <input id="start" name="start" type="datetime-local"/>
          </p>

               <p>
              <label>Do: </label>
              <input id="end" name="end" type="datetime-local"/>
          </p>


        <input type="submit" />
    </form>
{%endblock %}
