{% extends "layouts/layout1.html" %}
{% block title %}
New stay for...
{% endblock %}
{% block content %}

      <form method="post" action="{{ url_for('.create_stay', room_id = room.id) }}">

        <p>
              <label>Wybierz gościa: </label>
              <input id="guest" name="guest" type="text"/>
        </p>

          <p>
              <label>Od: </label>
              <input id="start" name="start" type="datetime-local" value="{{fr}}T14:00"/>
          </p>

          <p>
              <label>Do: </label>
              <input id="end" name="end" type="datetime-local" value="{{to}}T11:00"/>
          </p>
          <p>
              <label>Liczba osób: </label>
              <input id="people" name="people" type="number"/>
          </p>


        <input type="submit" />
    </form>
{%endblock %}
