{% extends "layouts/layout1.html" %}

{% block head %}
 <link href="/static/css/room.css" rel="stylesheet">
{% endblock %}

{% block title %}
Pokoje
{% endblock %}
{% block content %}


{% for room in rooms %}
<div id="content">

    <div class="row roomListItem clearfix">
        <div class="col-sm-8">
        <div id="roomNumber">{{room.number}}</div>
                <div id="roomColor"><h3><a href="{{ url_for('rooms') }}/{{ room.color}}"> {{room.color}} </a></h3></div>

               {{room.max_people}} + {{room.extra_places}} miejsc
               {%if room.bath %} <i class="fa fa-bath" title="Pokój z wanną"></i> {% endif %}
               {%if room.shower %} <i class="fa fa-shower"  title="Pokój z prysznicem"></i>{% endif %}
               {%if room.dog %} <i class="fi-guide-dog"  title="Pokój przyjazny dla psów"></i> {% endif %}

            {% if reservation_mode %}
            <a href = "{{ url_for('.new_stay', room_id = room.id, date_start = params[0], date_end = params[1], adults = params[2] )}}">Rezerwuj</a>
            {% else %}

    <form class="clearfix" action="{{ url_for('send_state', id=room.id) }}" method="post">
        {% if room.rented %}
        <input type="submit" name="state" class="roomStateButton"  id="roomFree" value="Zajmij"/>
        {% else %}
        <input type="submit" name="state" class="roomStateButton" id="roomTaken" value="Zwolnij"/>
        {% endif %}
    </form>
            {% endif %}
        </div>
        <div class="col-sm-4" id="roomPhoto">
            <img id="roomImg" src="/static/img/room/{{room.id}}.jpg"/>
        </div>


    </div>

    <div style="clear:both;"></div>
</div>
{% endfor %}


{% endblock %}