{% extends "layouts/layout1.html" %}
{% block title %}
Pokój | {{room.color}}
{% endblock %}
{% block content %}

<h1> Pokój {{room.color}}</h1>
<div>
    <p>  Liczba miejsc: {{room.max_people}} + {{room.extra_places}}
    </p>
    <p>
        Wanna {{room.bath}}
    </p>
    <p>
        Prysznic {{room.shower}}
    </p>
    <p>
        Pies {{room.dog}}
    </p>
</div>

<h2> Historia pobytów </h2>
<table>
    <tr>
        <th> Gość </th>
        <th> od </th>
        <th> do </th>
    </tr>
    {% for stay in stays %}
    <tr>
        <td> {{stay.guest.first_name}} {{stay.guest.last_name}} </td>
        <td> {{stay.start_at}} </td>
        <td> {{stay.end_at}} </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}