
    {% extends "layouts/layout1.html" %}
    {% block title %}
    Hotel Manager
    {% endblock %}

   {% block content %}
 
   <div id="searchform">
       <h3> Szukaj pokoju </h3>
       <form method="get" action="{{ url_for('room_search')}}">
           <p>
               Od <input type="text" name="start" id="search_checkin"/>
           </p>
           <p>
               Do <input type="text" name ="end" id="search_checkout"/>
           </p>
           <p>
               Dla ilu osób? <input type="number" name="adults" min="1" max="20" default="2"/>
           </p>
           <input type="submit"/>
       </form>
   </div>

    <script>
    if($('#search_checkin, #search_checkout').length){

    var currentDate = moment().format("YYYY-MM-DD");

    $('#search_checkin, #search_checkout').daterangepicker({
        locale: {
              format: 'YYYY-MM-DD'
        },
        "alwaysShowCalendars": true,
        "minDate": currentDate,
        "maxDate": moment().add('months', 6),
        autoApply: true,
        autoUpdateInput: false
    }, function(start, end, label) {

      var selectedStartDate = start.format('YYYY-MM-DD');
      var selectedEndDate = end.format('YYYY-MM-DD');

      $checkinInput = $('#search_checkin');
      $checkoutInput = $('#search_checkout');

      $checkinInput.val(selectedStartDate);
      $checkoutInput.val(selectedEndDate);

      var checkOutPicker = $checkoutInput.data('daterangepicker');
      checkOutPicker.setStartDate(selectedStartDate);
      checkOutPicker.setEndDate(selectedEndDate);

      var checkInPicker = $checkinInput.data('daterangepicker');
      checkInPicker.setStartDate(selectedStartDate);
      checkInPicker.setEndDate(selectedEndDate);

    });

} // End Daterange Picker
    </script>
   <div class="container" id="calendar"> </div>


    {% endblock %}
