
    {% extends "layouts/layout1.html" %}
    {% block title %}
    Hotel Manager
    {% endblock %}

   {% block content %}
    <!---
    TABLE WITH RESERVATION BUTTONS - DEPRECATED
    <table>
        <tr>
            <th>Pokój</th>
            <th>{{moment().format('dddd')}}</th>
            <th>{{moment(today + datetime.timedelta(days=1)).format('dddd')}}</th>
            <th>{{moment(today + datetime.timedelta(days=2)).format('dddd')}}</th>
            <th>{{moment(datetime.date.today() + datetime.timedelta(days=3)).format('dddd')}}</th>
            <th>{{moment(datetime.date.today() + datetime.timedelta(days=4)).format('dddd')}}</th>
            <th>{{moment(datetime.date.today() + datetime.timedelta(days=5)).format('dddd')}}</th>
            <th>{{moment(datetime.date.today() + datetime.timedelta(days=6)).format('dddd')}}</th>


        </tr>
           {% for room in rooms %}

        <tr>
            <th>{{room.color}}</th>
            <td><a href = "{{ url_for('.new_stay', room_id = room.id, date_start = datetime.date.today(), date_end = datetime.date.today() + datetime.timedelta(days=1) )}}">Rezerwuj</a></td>
            <td><a href = "{{ url_for('.new_stay', room_id = room.id, date_start = datetime.date.today() + datetime.timedelta(days=1), date_end = datetime.date.today() + datetime.timedelta(days=2) )}}">Rezerwuj</a></td>
            <td><a href = "{{ url_for('.new_stay', room_id = room.id, date_start = datetime.date.today() + datetime.timedelta(days=2), date_end = datetime.date.today() + datetime.timedelta(days=3) )}}">Rezerwuj</a></td>
            <td><a href = "{{ url_for('.new_stay', room_id = room.id, date_start = datetime.date.today() + datetime.timedelta(days=3), date_end = datetime.date.today() + datetime.timedelta(days=4) )}}">Rezerwuj</a></td>
            <td><a href = "{{ url_for('.new_stay', room_id = room.id, date_start = datetime.date.today() + datetime.timedelta(days=4), date_end = datetime.date.today() + datetime.timedelta(days=5) )}}">Rezerwuj</a></td>
            <td><a href = "{{ url_for('.new_stay', room_id = room.id, date_start = datetime.date.today() + datetime.timedelta(days=5), date_end = datetime.date.today() + datetime.timedelta(days=6) )}}">Rezerwuj</a></td>
            <td><a href = "{{ url_for('.new_stay', room_id = room.id, date_start = datetime.date.today() + datetime.timedelta(days=6), date_end = datetime.date.today() + datetime.timedelta(days=7) )}}">Rezerwuj</a></td>


        </tr>
        {% endfor %}
    </table>
    --->
   <div id="searchform">
       <h3> Szukaj pokoju </h3>
       <form method="get" action="{{ url_for('room_search')}}">
           <p>
               Od <input type="text" name="start" id="search_checkin"/>
           </p>
           <p>
               Do <input type="text" name ="end" id="search_checkout"/>
           </p>
           <p>
               Dla ilu osób? <input type="number" name="adults" min="1" max="20" default="2"/>
           </p>
           <input type="submit"/>
       </form>
   </div>

    <script>
    if($('#search_checkin, #search_checkout').length){

    var currentDate = moment().format("DD-MM-YYYY");

    $('#search_checkin, #search_checkout').daterangepicker({
        locale: {
              format: 'DD-MM-YYYY'
        },
        "alwaysShowCalendars": true,
        "minDate": currentDate,
        "maxDate": moment().add('months', 1),
        autoApply: true,
        autoUpdateInput: false
    }, function(start, end, label) {

      var selectedStartDate = start.format('DD-MM-YYYY');
      var selectedEndDate = end.format('DD-MM-YYYY');

      $checkinInput = $('#search_checkin');
      $checkoutInput = $('#search_checkout');

      $checkinInput.val(selectedStartDate);
      $checkoutInput.val(selectedEndDate);

      var checkOutPicker = $checkoutInput.data('daterangepicker');
      checkOutPicker.setStartDate(selectedStartDate);
      checkOutPicker.setEndDate(selectedEndDate);

      var checkInPicker = $checkinInput.data('daterangepicker');
      checkInPicker.setStartDate(selectedStartDate);
      checkInPicker.setEndDate(selectedEndDate);

    });

} // End Daterange Picker
    </script>
   <div id="calendar"> </div>


    {% endblock %}
